/* RESET CSS */
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 10px;
}
:after, :before {
  box-sizing: border-box;
}
* {
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}
body {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}
ul, ol {
  list-style-type: none;
}
a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-weight: normal;
}
img {
  vertical-align: middle;
}



/* 공통 */
sup {font-size: 50%;}





/* HEADER */
/* GNB 스타일 */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
}

#gnb {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 65px;
  padding: 0 60px 0 60px;  
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

#gnb a {color: rgb(255, 255, 255);}
#gnb i {font-size: 20px;}

/* gnb 로고 */
.gnb_logo_wrap {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 0;
  order: 1;
}

.gnb_logo {
  width: 110px;
  height: 35px;
  background: url(../img/gopro-logo.svg) no-repeat;
  background-size: 110px;
}


/* gnb 메뉴 */
.gnb_menu_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  flex: 1 0 0;
  order: 2;
}

.gnb_menu_wrap li {
  /* white-space: nowrap; */
  /* display: block; */
}

.gnb_menu_wrap li a {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 20px;
  display: flex;
  height: 65px;
  align-items: center;
  white-space: nowrap;
}


/* gnb icon */
.gnb_icon_wrap {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0;
  order: 3;
}

.gnb_icon_wrap a {
  display: flex;
  align-items: center;
}

.gnb_icon_wrap li span {
  display: block;
  font-size: 13px;
  font-weight: 700;
}

.gnb_icon_wrap li {margin: 0 15px;}
.gnb_icon_wrap li:first-child {margin: 0 15px 0 0;}
.gnb_icon_wrap li:last-child {margin: 0 0 0 15px;}




/* GNB MEDIA */
.gnb_menu_mobile {display: none;}
.mobile {display: none;}

/* 해상도 1351-1450 */
@media screen and (min-width: 1351px) and (max-width: 1450px) {
  #gnb {padding: 0 30px;}
}

/* 해상도 1151-1350 */
@media screen and (min-width: 1151px) and (max-width: 1350px) {
  #gnb {padding: 0 15px;}
  .gnb_menu_wrap li a {padding: 0 13px; font-size: 12px;}
  .gnb_icon_wrap li {margin: 0 12px;}
  .gnb_icon_wrap li:first-child{margin: 0 12px 0 0;}
  .gnb_icon_wrap li:last-child{margin: 0 0 0 12px;}
  .gnb_logo_wrap, .gnb_icon_wrap {flex: 1 0 auto;}
}

/* 해상도 768-1050 */
@media screen and (min-width: 768px) and (max-width: 1150px) {
  #main {padding: 105px 0 0;}
  #gnb {height: 105px; flex-wrap: wrap; align-content: space-between; padding: 15px 40px 0;}
  .gnb_menu_wrap li a {height: 44px;}
  .gnb_logo_wrap {order: 1;}
  .gnb_menu_wrap {order: 3; flex: auto; width: 100%;}
  .gnb_icon_wrap {order: 2;}
}

@media screen and (max-width: 767px) {
  #gnb {height: 65px; padding: 0 25px;}
  #gnb i {font-size: 18px;}

  .gnb_menu_wrap {display: none;}
  .gnb_menu_mobile {
    display: flex;
    justify-content: flex-start;
    /* flex: 1 1 auto; */
    order: 1;
  }
  .gnb_menu_mobile li:last-child {margin: 0 0 0 20px; }


  .gnb_logo_wrap {order: 2; justify-content: center;}
  .gnb_logo {width: 80px; height: 25px; background-size: 100%;}

  .gnb_icon_wrap {order: 2; flex: 0 1 0;}


  .gnb_icon_wrap {order: 3;}
  .gnb_icon_wrap li {display: none;}
  .gnb_icon_wrap li:nth-last-of-type(2) {display: block; margin: 0;}
  .gnb_icon_wrap li:last-child {display: block; margin: 0 0 0 20px;}
  }








/* FOOTER */
#footer {
  width: 100%;
  min-height: 65px;
  padding: 25px 45px 40px;
  background: rgb(51, 51, 51);
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

/* footer_list_wrap */
.footer_list_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 20px 0;
}

.footer_column_1 {
  width: 20%;
  /* padding: 0 50px 0 0; */
  margin: 0 50px 0 0;  
}


.footer_column_2, .footer_column_3  {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footer_column_3 {justify-content: space-between;}
.footer_column_3 ul:first-child {
  padding: 0 0 0 calc(60 * 100vw/1440);
}  

.footer_column_2 ul:last-child{
  padding: 0 calc(100 * 100vw/1440) 0 0;
}



.footer_list_item li {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
}

.footer_list_item li:first-child {
  font-weight: 600;
  margin: 0 0 16px;  
}

.footer_m_angle_down {display: none;}

.footer_list_item li a {
  font-size: 13px;
  color: rgb(255, 255, 255);
}


.test {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* footer_contact_wrap */
.footer_contact_wrap {
  width: 100%;
  margin: 0 auto;
  padding: 37px 0 0;
  border-top: 1px solid rgb(102, 102, 102);
  display: flex;
  flex-flow: row wrap;
}

.contact_newsletter {
  flex: 0 2 445px;
  width: 100%;
}

.newsletter_email_input {
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  flex: 1 100%;
  color: rgb(249, 250, 250);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  background: none;
  display: inline-block;
  min-width: 251px;
  padding: 0 18px 0;
  word-spacing: 0px;
  margin: 0 8px 0 0;
  text-align: center;
}

.newsletter_submit_button {
  background-color: rgb(3, 191, 254);
  /* appearance: none; */
  border-style: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 44px;
  width: 180px;
  word-spacing: 0px;
  outline-style: none;
}


/* right_wrap */
.contact_right_wrap {
  flex: 2 1 0%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0 0;
  /* margin: 0 0 21px 0; */
}

.contact_social {
  width: auto;
  flex: 0 256px;
  justify-content: center;
  display: flex;
}

.contact_social li {margin: 0 5px; font-size: 22px;}

.contact_social .icon {
  font-size: 25px;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

.contact_locate_wrap {
  flex: 1 1 0%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 25px;
  padding: 0 0 0 30px;
  align-items: center;
}

.search_store a, .locale_select a {
  display: flex;
  align-items: center;
  font-size: 13px; font-weight: 600; line-height: 16px; color: rgb(255, 255, 255);}

.fa-map-marker-alt, .fa-globe {font-size: 22px; font-weight: 400; line-height: 22px; padding: 0 7px 0 0;}

.locale_select {
  font-size: 14px; line-height: 20px;
  margin: 0 0 0 80px;
}

.locale_select span {font-weight: 700;}


.footer_copyright_wrap {padding: 10px 0 0; font-size: 8px; line-height: 12px; color: rgb(164, 165, 165);}


@media screen and (min-width: 992px) and (max-width: 1199px) {

  .contact_locate_wrap {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .locale_select {
    margin: 20px 0 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  
  .footer_column_1,  .footer_column_2, .footer_column_3  {
    flex: 1;
    width: 0;
  }
  .footer_column_1 {margin: 0;}
  .footer_column_2, .footer_column_3  {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
    
  .test {
    width: 100%;
    display: contents;
  }

  .footer_column_3 ul:first-child {
    padding: 0 0 20px;
  }  
  
  .footer_column_2 ul:last-child{
    padding: 20px 0 0;
  }

  .contact_newsletter {
    flex: 1 1 auto;
    width: 100%;
  }
  
  .newsletter_email_input {
    width: 49%;
  }
  
  .newsletter_submit_button {
    width: 49%;
  }

  .contact_newsletter {
    flex: 1 1 auto;
    width: 100%;
  }

  .contact_right_wrap {
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 40px 0 0;
  }

  .contact_social {
    justify-content: flex-start;
  }

  .contact_locate_wrap {
    padding: 0;
    justify-content: flex-start;
  }
  
}


@media screen and (max-width: 767px) {
  #footer {
   padding: 0;
  }
  
  .footer_list_wrap {
    flex-flow: column;
    margin: 0;
  }

  .footer_column_1,  .footer_column_2, .footer_column_3, .test  {
    display: contents;
    width: 100%;
  }
  .footer_column_1 {margin: 0;}


  .footer_column_3 ul:first-child {
    padding: 0;
  }  
  
  .footer_column_2 ul:last-child{
    padding: 0;
  }


  .footer_list_wrap ul {
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid rgb(102, 102, 102);
    padding: 0 25px;
  }
  .footer_column_3 ul:first-child {
    padding: 0 25px;
  }  
  
  .footer_column_2 ul:last-child{
    padding: 0 25px;
  }

  .footer_list_item li:first-child {
    height: 60px;
    line-height: 60px;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer_m_angle_down {display: block;}


  .footer_contact_wrap {
    padding: 35px 26px;
  }
  .contact_newsletter {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  
  .newsletter_email_input {
    width: 100%;
    padding: 0 7px;
    margin: 0 0 17px;
  }
  
  .newsletter_submit_button {
    width: 100%;
  }

  .contact_newsletter {
    flex: 1 1 auto;
    width: 100%;
  }

  .contact_right_wrap {
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
  }

  .contact_social {
    width: 100%;
    flex: 1 1 auto;
    justify-content: flex-start;;
    display: flex;
    margin: 60px 0 25px;
  }
  
  .contact_social li {margin: 0 25px 0 0;}
  
  .contact_locate_wrap {
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .footer_copyright_wrap {
    padding: 10px 25px 60px;
  }

}




