/* MAIN */
/* 공통 */
.line_btn {
  min-width: calc(180 * 1920px/1440);
  height: calc(42 * 1920px/1440);
  font-size: calc(18 * 1920px/1440);
  line-height: calc(18 * 1920px/1440);
}

.index_title {
  font-size: calc(32 * 1920px/1440);
  letter-spacing: calc(0.25 * 1920px/1440);
  line-height: calc(40 * 1920px/1440);
}


/* hero section */
.hero_bg_wrap {
  max-width: 1920px;
  min-height: calc(600 * 1920px/1440);
  margin: 0 auto calc(10 * 1920px/1440) auto;
}

.hero_text_wrap {
  bottom: calc(180 * 1920px/1440);
  right: calc(138 * 1920px/1440);
}

.hero_text_wrap {
  bottom: calc(180 * 1920px/1440);
  right: calc(138 * 1920px/1440);
}

.hero_text_wrap h2 {
  font-size: calc(26 * 1920px/1440);
  letter-spacing: calc(0.25 * 1920px/1440);
  line-height: calc(32 * 1920px/1440);
  margin: 20px 0 calc(7.77 * 1920px/1440);
}

.hero_title {
  font-size: calc(48 * 1920px/1440);
  line-height: calc(60 * 1920px/1440);
  margin: 0 0 calc(6.66 * 1920px/1440);
}

.hero_desc {
  font-size: calc(22 * 1920px/1440);
  line-height: calc(33 * 1920px/1440);
  margin: 0 0 calc(44.23 * 1920px/1440);
}

.hero_buy_now a {
  padding: calc(14.4 * 1920px/1440) calc(52 * 1920px/1440);
  border-radius: calc(100 * 1920px/1440);
  font-size: calc(16 * 1920px/1440);
  line-height: calc(14 * 1920px/1440);
  letter-spacing: calc(0.25 * 1920px/1440);
}



/* 섹션 2 : triple content slot */
.card_section {
  max-width: 1920px;
  height: calc(600 * 1920px/1440);
  margin: 0 auto calc(10 * 1920px/1440);
}

/* SINGLE */
.single_content_slot {
  width: calc(715 * 1920px/1440);
}

.single_content_slot_title {
  font-size: calc(38 * 1920px/1440);
  letter-spacing: calc(0.25 * 1920px/1440);
  line-height: calc(45 * 1920px/1440);
  margin: 0 0 calc(23 * 1920px/1440);
}

.single_content_slot_list {
  font-size: calc(20 * 1920px/1440);
  line-height: calc(30 * 1920px/1440);
  margin: 0 auto calc(34 * 1920px/1440);
  max-width: calc(480 * 1920px/1440);
}

.single_content_slot_list li {
  margin: 0 0 calc(24 * 1920px/1440) calc(75 * 1920px/1440);
  position: relative;
}


.single_content_slot_list li img {
  width: calc(40 * 1920px/1440);
  margin: 0 calc(23 * 1920px/1440) 0 0;
  left: calc(-63 * 1920px/1440);
}


/* DOUBLE */
.two_content_slot_top,
.two_content_slot_bottom {
  width: calc(715 * 1920px/1440);
  height: calc(295 * 1920px/1440);
}

.index_title.two_title {
  left: calc(30 * 1920px/1440);
  margin: 0 0 calc(30 * 1920px/1440);
}





/* 섹션 4: TRIPLE CONTENTS SLOT REVERSE */
.section4_sub_title {
  font-size: calc(18 * 1920px/1440);
  letter-spacing: calc(0.25 * 1920px/1440);
  line-height: calc(27 * 1920px/1440);
  left: calc(30 * 1920px/1440);
  margin: 0 0 calc(30 * 1920px/1440);
  max-width: calc(480 * 1920px/1440);
}





/* 섹션 5: CAMERA COMPARISON */
.camera_comp {
  margin: 0 0 calc(10 * 1920px/1440);
}

.camera_comp_text {
  top: calc(96 * 1920px/1440);
}

.camera_comp_text.index_title {
  font-size: calc(38 * 1920px/1440);
  line-height: calc(45 * 1920px/1440);
}

.camera_comp_button {
  margin: calc(20 * 1920px/1440) 0 0;
}





/* 섹션 6: FIVE CONTENTS SLOT */
.five_contents_slot {
  max-width: 1920px;
  margin: 0 auto;
}

.margin_bottom_10 {margin: 0 0 calc(10 * 1920px/1440);}

.column_1 {
  padding: 0 calc(10 * 1920px/1440) 0 0;
}
.column_3 {
  padding: 0 0 0 calc(10 * 1920px/1440);
}


.column_2_text_wrap {
  left: calc(30 * 1920px/1440);
  bottom: calc(33 * 1920px/1440);
}

.column_2_desc {
  width: calc(538 * 1920px/1440);
  font-size: calc(20 * 1920px/1440);
  line-height: calc(30 * 1920px/1440);
  margin: calc(5 * 1920px/1440) 0 calc(20 * 1920px/1440);
}

.five_contents_headline {
  left: calc(30 * 1920px/1440);
  bottom: calc(20 * 1920px/1440);
}




/* 섹션 7: FOOTNOTES */

.footnotes_module {
  padding: calc(50 * 1920px/1440) calc(182 * 1920px/1440);
  font-size: calc(14 * 1920px/1440);
  line-height: calc(18 * 1920px/1440);
  max-width: 1920px;
}

.footnotes_module h1 {
  font-size: calc(14 * 1920px/1440);
  line-height: calc(18 * 1920px/1440);
}


